
fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-google-genai
langchain-community
# Add the new package for HuggingFace integrations
langchain-huggingface
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cu118
# For vector storage
faiss-gpu
# For document loading
unstructured[md,pdf]
pypdf
numpy<2.0